COMPOSE_PROJECT_NAME=anagolay-idiyanale-phase1
APP_PORT=3000
IPFS_HOSTNAME=ipfs
IPFS_API_IP=ipfs
IPFS_API_PORT=5001
IPFS_API_PROTOCOL="http"
IPFS_PIN=false
MONGODB_HOSTNAME=db
MONGODB_PORT=27017
MONGODB_USERNAME=admin
MONGODB_PASSWORD=1234556


ENABLE_API_KEY_SUPPORT=true
# this is used by the CLI
ANAGOLAY_PUBLISH_SERVICE_API_KEY=34561423-94b2-425d-ac17-376221dbedad
ANAGOLAY_PUBLISH_SERVICE_API_URL=http://127.0.0.1:3000

# this is used to configure the publish microservice
APPROVED_API_KEY=34561423-94b2-425d-ac17-376221dbedad

ANAGOLAY_CHAIN_URL=ws://127.0.0.1:9944
